*{
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f3f3f3;
  }

.topnav {
    overflow: hidden;
    background-color:rgb(236, 245, 244);
    height: 100px;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.topnav a.active {
    background-color: #4AAAA5;
    color: white;
    font-size: 28px;
    margin-left: 280px;
    }

 /* .topnav-right a:hover {
    background-color:blue;
    color: black;
    }  */

.topnav-right {
    float: right;
  }

 .main-bio{
     float: left;

 } 

 .container {
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
    background-color:#ffff;
  }
  #main-bio,
  #bio-image {
    float: left;
  }

 #bio-image{
     width: 200px;
     height: 200px;
 }

 p{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     line-height: 30px;
     font-size: 20px;
 }



  

