body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-image: url('../images/concrete_seamless.png');
}

/*Global css*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    
}
/*Header css*/
header{
    background:#9Ac7ef;
    color: black;
    padding: 0px;
    min-height: 70px;

}
header a{
    color: black;
    text-decoration: none;

}

header ul{
    margin: 0;
    padding: 20px;
}

header li{
    display: inline;
    margin: 10px 0 10px 0;
    
}

header #name{
    float: left;
}

header #name h1{
    margin: 0 0 0 220px;
    padding: 15px;
    background-color: #4AAAA5;
}

header nav{
    float:right;
}

header a:hover{
    color: blue;
    font-weight: bold;
}

/*About Me css*/
#about{
    min-height: 600px;
    background-color: #F3F3F2;
    margin: 60px 300px 100px 300px;
}
#bio-image{
    width: 200px;
    height: 200px;
}

#about p{
    float: left;
}

.footer{
    background-position: fixed bottom;
    border-top: 5px solid #4aaaa5;
    background-color: #5C5957;
    width: 100%;
    padding: 20px 0 0 0;
    text-align: center;
}